<h1>You have visited this page {{count}} times!</h1>

<button id="resetButton" onclick="resetCounter">Reset Counter</button>

<script>
  
  document.addEventListener('DOMContentLoaded', bindButtons);

  function bindButtons() {
  document.getElementById("resetButton").addEventListener("click", function resetCounter() {
    var req = new XMLHTTPRequest();
    req.open("POST", "http://flip2.engr.oregonstate.edu:9845/count", false);
    req.send({command : "resetCount"});
    })
  }

</script>
